/* RIGHT TO LEFT */
#languages-block-top {
  float: right;
  position: relative;
}
.rtl #languages-block-top {
  float: left;
}
#languages-block-top span.firstWord {
  display: none;
}
#languages-block-top ul.toogle_content {
  min-width: 135px;
}
