/* *****************************************************************
	title
****************************************************************** */

#center_column {
  	.page_product_box {
	    h3 {
	      	@include sub-heading;
	    }
  	}
}
.page-heading {
  font: 600 15px / 22px $font-custom;
  color: $base-heading-color;
  text-transform: uppercase;
  margin-bottom: 20px;
  overflow: hidden;
  margin-top: 0;
  span.heading-counter {
    font: bold 13px / 22px $font-family;
    @include rtl-float-right ();
    color: $base-text-color;
    text-transform: none;
    margin-bottom: 10px;
  }
  span.lighter {
    color: #9c9c9c;
  }
  &.bottom-indent {
    margin-bottom: 20px;
  }
  &.product-listing {
    border-bottom: none;
  }
}

.page-subheading {
  font-family: $font-custom;
  font-weight: $theme-font-weight;
  text-transform: uppercase;
  color: $base-heading-color;
  font-size: 18px;
  @include rtl-padding (0,0,15px,15px);
  line-height: normal;
  @include rtl-margin (10px,0,10px,0);
  border-bottom: 1px solid $base-border-color;
}

h3.page-product-heading {
  @include sub-heading;
}

//text
p.info-title {
  	margin-bottom: 20px;
}

p.info-account {
   @include rtl-margin (-4px,0,24px,0);
}

.dark {
  color: $base-text-color;
}

.main-page-indent {
  margin-bottom: $base-page-indent;
}
.required {
  sup {color:red;}
}
.alert {
  font-weight: $theme-font-weight;
  ul, ol {
    @include rtl-padding-left(15px);
    @include rtl-margin-left(15px);
    li {
      list-style-type: decimal;
    }
  }
  &.alert-warning {
    @include skin-background-color($theme-color-secondary); border:0;
    a {
      &:hover {color: #fff}
    }
  }
  &.alert-success {
    &:before {
      font-family: $font-icon;
      content: "\f058";
      font-size: 20px;
      vertical-align: -2px;
      @include rtl-padding-right(7px);
    }
  }
  &.alert-danger {
    a {color: #fff;}
    &:before {
      font-family: $font-icon;
      content: "\f057";
      font-size: 20px;
      vertical-align: -2px;
     @include rtl-padding-right(7px);
      @include rtl-float-left ();
    }
  }
}

.label {
  white-space: normal;
  display: inline-block;
  @include rtl-padding (6px,10px,6px,10px);
}
.label-success {@include skin-background-color($theme-color-secondary); border:0;}
label {
  color: $base-title-color;
  font-weight: 500;
  &.required {
    &:before {
      content: "*";
      color: red;
      font-size: 14px;
      position: relative;
      line-height: 12px;
    }
  }
}

.unvisible {
  display: none;
}

.checkbox {
  line-height: 16px;
  label {
    color: #777777;
  }
}

.close {
  opacity: 1;
  &:hover {
    opacity: 1;
  }
}
//table
table.std,
table.table_block {
  margin-bottom: 20px;
  width: 100%;
  border: $main_border;
  border-bottom: none;
  background: white;
  border-collapse: inherit;
}

table.std th,
table.table_block th {
  padding: 14px 12px;
  @include rtl-padding (14px,12px,14px,12px);
  font-size: 12px;
  color: $light-text-color;
  font-weight: $theme-font-weight;
  text-transform: uppercase;
  background: #999999;
}

table.std tr.alternate_item,
table.table_block tr.alternate_item {
  background-color: #f3f3f3;
}

table.std td,
table.table_block td {
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  font-size: 12px;
  vertical-align: top;
}

.table {
  margin-bottom: 30px;
  > thead {
    > tr {
      > th {
        background: $table-background;
        border-bottom-width: 1px;
        color: $base-text-color;
        vertical-align: middle;
        font-size: 15px;
        font-weight: normal;
      }
    }
  }
  td {
    a.color-myaccount {
      color: $link-color;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  tfoot {
    tr {
      background: $table-background;
    }
  }
}

/* *****************************************************************
  barre comparaison / tri
****************************************************************** */

.product-filter {
    .sortPagiBar {
      background:$gray-lighter;
      margin-bottom: 20px;
      font-size: $font-size-base - 2;
       @include rtl-padding (5px, 0, 5px, 0);
        .display{
          @include rtl-float-left;
          @include rtl-margin(0,10px,0,0);
        }
        .limit{
          @include rtl-float-left ();
          margin-top: 5px;
        }
        #productsSortForm {
          @include rtl-padding (5px,0,0,0);
          select {
              max-width:192px;
              @include rtl-float-left ();
          }
        }
        .nbrItemPage {
            select {
              max-width:59px; 
              @include rtl-float-left ();
            }
            .clearfix > span {
               @include rtl-padding (3px,0,0,12px);
              display: inline-block;
              @include rtl-float-left();
            }
            #uniform-nb_item { @include rtl-float-left (); }
        }
        label, select {
           @include rtl-float-left ();
        }
        label {
             @include rtl-padding (3px,6px,0,0);
            font-weight: 400;
        }
        &.instant_search {
          #productsSortForm {
            display:none;
          }
        }
    }
    .display, .display_m {
        li {
          @include rtl-float-left ();
           @include rtl-padding (8px,10px,8px,0);
          text-align:center;
          a {
              color:$GL-text-color;
              font-size: $font-size-base - 2;
              i {
                font-size:$font-size-base;
                @include rtl-padding-right (5px);
                 @include rtl-margin-left (5px);
                color:$GL-icon-color;
                cursor: pointer;
              }
            }
          a:hover, &.selected {
              i {
                  @include skin-color($GL-icon-color-hover);
              }
            }
          &.display-title {
              font-weight: $theme-font-weight;
              color:$base-text-color;
               @include rtl-padding (7px,6px,0,0);
              display: none;
          }
        }
    }
    .product-compare{
        @include rtl-float-right ();
        margin-top: 2px;
    }
}

//pagination
.top-pagination-content,
.bottom-pagination-content {
  text-align: center;
  @include rtl-padding (12px,0,12px,0);
  position: relative;
  div.pagination {
    margin: 0;
    @include rtl-float-right();
    width: 530px;
    text-align: center;
    .showall {
      @include rtl-float-right ();
       @include rtl-padding (0,53px,0,14px);
      .btn {
        span {
          font-size: 13px;
           @include rtl-padding (3px,5px,4px,5px);
          line-height: normal;
        }
      }
    }
  }
  ul.pagination {
     @include rtl-margin (0,0,0,0);
    li {
      display: inline-block;
      @include rtl-float-left ();
       @include rtl-margin-right (5px);
      > a,
      > span {
        height:25px;
        font-weight:bold;
        border: 1px solid #E0E3E4;
        border-radius: 4px 4px 4px 4px;
        line-height:23px;
        color:#6e6f70;
         @include rtl-padding (0,5px,0,5px);
        background:-moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#E6E6E6));
        span {
           @include rtl-padding (0,5px,0,5px);
          display: block;
        }
      }
      a.active, a:hover, a:focus {
        > span {
          @include skin-color($theme-color-secondary);
          border-color:#E0E3E4;
          }
      }
      &.pagination_previous,
      &.pagination_next {
        color: $pagination-prevnext-color;
      }
      i { @include rtl-margin (0,5px,0,5px); font-size: 10px;}
    }
    li.current {
      > span {
         @include skin-color($theme-color-secondary);
      }
      &:hover {
        span {
          border-color:#E0E3E4;
        }
      }
    }
  }
  .compare-form {
    @include rtl-float-right ();
  }
  .product-count {
     @include rtl-padding (0,0,0,0);
    @include rtl-float-left ();
  }
}

.bottom-pagination-content {
  border-top: 1px solid $base-border-color;
  margin-top: 20x;
}

/* *****************************************************************
  CART steps
****************************************************************** */
ul.step {
    margin-bottom: 30px;
    overflow: hidden;
    li {
  		background: #ebebeb;
       @include rtl-float-left ();
      @include rtl-text-align-left();
       @include rtl-padding (0,0,0,0);
      text-align: center;
      a,
      span,
      &.step_current span,
      &.step_current_end span {
          display: block;
          @include rtl-padding (8px,10px,8px,10px);
	      	line-height: 20px;
          position: relative;
          text-transform: uppercase;
          &:focus {
            text-decoration: none;
            outline: none;
          }
      }
      &.first {
          span,
          a {
            z-index: 5;
            padding-left: 13px !important;
          }
      }
      &.second {
          span, a {
            z-index: 4;
          }
      }
      &.third {
          span, a {
            z-index: 3;
          }
      }
      &.four {
          span, a {
            z-index: 2;
          }
      }
      &.last {
          span {
            z-index: 1;
          }
      }
      &.step_current {
          span {
            background: #DB7257;
            position: relative;
            color: $white;
          }
      }
      &.step_todo {
          span {
            display: block;
            position: relative;
          }
      }
      &.step_done {
          a {
            @include skin-background-color($theme-color-secondary);
            color: $white;
          }
      }
      &.step_done.step_done_last { @include skin-background-color($theme-color-secondary);}
    }
}

// BREADCRUMB
.breadcrumb {
  display: inline-block;
   @include rtl-padding (0,11px,0,11px);
  font-size: 12px;
  line-height: 24px;
  min-height: 6px;
  @include border-radius(3px);
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: transparent;
  margin-bottom: 10px;
  .navigation-pipe {
    width: 11px;
    display: inline-block;
    text-indent: -5000px;
    @include rtl-padding (0,10px,0,10px);
    background-image: url('#{$image-theme-path}divider-bg.png');
    background-position: 5px 8px;
    background-repeat: no-repeat;
  }
  a {
    display: inline-block;
    background-color: $light-background;
    position: relative;
    z-index: 2;
    &.home {
      font-size: 17px;
      color: $text-color;
      width: 14px;
      text-align: center;
      padding: 0;
      @include border-top-left-radius(3px);
      @include border-bottom-left-radius(3px);
      z-index: 99;
      line-height: 22px;
      display: inline-block;
      height: 25px;
      i {
        vertical-align: -1px;
      }
      &:before {
        border: none;
      }
    }
    &:hover {
      @include skin-color($theme-color-secondary);
    }
  }
}

.ie8 {
  .breadcrumb {
    min-height: 1px;
    a:after {
      display: none;
    }
    .navigation-pipe {
      width: 20px;
    }
  }
}